/* Utilidades */
:root{
    --fondo-principal:#f7f7f7;
    --blanco:#fff;
    --primario: #DA4453;

}
body{
    background-color: var(--fondo-principal);
}

.sombra{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.194) !important
}
.bordes{
    border-radius: 1rem;
}

.backgroud{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.banner{
    margin: auto;
    height: 230px;  
    color: white;
    max-width: 97%;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}
@media (min-width: 700px) {
    .banner {
      height: 600px;
    }
  }
.banner--index{
    background-image: url(../img/banner-index.jpg);
}
.banner__contenido{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3rem;
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.8) 70%, black 100%) !important;
    
}
.banner__contenido--titulo{
   margin-top: 190px;
   font-size: 24px;
   line-height: 30px;
   font-weight: 700;
   font-family: "Source Sans Pro", sans-serif !important;
}
@media (min-width: 700px) {
    .banner__contenido--titulo {
        margin-top: 550px;
    }
  }
.subtitulo{
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif !important;
}

.contenedor{
    margin: auto;
    max-width: 97%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1.5rem;
}
.opcion_index{
    margin:auto;
    background-color: var(--primario);
    display: flex;
    justify-content: space-around;
    align-items:center
   
}
.opcion_index__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}